# Coffee Review Cleaning and EDA

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

### Clean
- acidity/structure & acidity into one column
- agtron into 2 columns
- split origin and roaster locations into columns for states and country
- fix dtypes
- drop rows with NA

### EDA ideas
- visualize histograms
- visualize correlations
- word clouds
- tokenize descriptions
- plot locations, roasters, roast level, agtron vs other characterisitcs
- cluster analysis
- standardize ratings??

In [251]:
# Read in raw coffee review data
df = pd.read_csv('data/raw-roast-reviews.csv')
df.head()

def split_price_currency(df):
    price = df['Price']
    df['Price'] = price.apply(lambda x: re.search(r'\$?(\d+\.\d+|\d+)', str(x)).group(1) if re.search(r'\$?(\d+\.\d+|\d+)', str(x)) else None)
    df['Currency'] = price.apply(lambda x: re.sub(r'(\d+\.\d+|\d+)', '', str(x)) if re.search(r'\$?(\d+\.\d+|\d+)', str(x)) else str(x))
    return df

def tweak_coffee(df):
    return (df
            # Remove spaces from column names
            .rename(columns = lambda c: c.replace(' ', '_'))
            .rename(columns = {'Coffee_Origin': 'Origin',
                               'Est._Price': 'Price'})
            # Remove duplicates based on roaster and name of roast
            .drop_duplicates(subset=['Roaster', 'Coffee_Name'])
            # Clean up columns. Create datetime column from Review_Date. Split Agtron into two columns.
            # Split Price into a column for cost and a column for amount.
            .assign(Review_Date = pd.to_datetime(df['Review_Date'], format='%b %Y'),
                    Acidity = lambda df_: df_['Acidity/Structure'].fillna(df_['Acidity']),
                    Agtron_External = lambda df_: df_['Agtron'].str.split('/', expand=True)[0],
                    Agtron_Ground = lambda df_: df_['Agtron'].str.split('/', expand=True)[1],
                    Amount = lambda df_: df_['Price'].str.split('/', expand=True)[1],
                    Price = lambda df_: df_['Price'].str.replace(',', '').str.split('/', expand=True)[0],
                     )
            # Remove whitespace and tranform "NA" to NaN
            .applymap(lambda x: x.strip() if isinstance(x, str) else x)
            .applymap(lambda x: np.nan if x == 'NA' else x)
            # Split price value and currency 
            .pipe(split_price_currency)
            # Drop old columns and rows with missing values
            .drop(['Acidity/Structure', 'Agtron'], axis=1)
            .dropna(subset=['Acidity', 'Roast_Level', 'Aroma', 'Price', 'Bottom_Line', 
                            'Agtron_External', 'Agtron_Ground',])
            # Transform data types
            .astype({'Roaster': 'category', 'Rating': 'int64', 'Roast_Level':'category',
                     'Agtron_External':'int64', 'Agtron_Ground':'int64',
                     'Aftertaste': 'int64', 'Aroma': 'int64', 'Body': 'int64',
                     'Flavor': 'int64', 'Acidity': 'int64', 'Currency': 'category',
                     'Price': 'float'}
                   )
            .reset_index(drop=True)
            
           )

coffee = tweak_coffee(df)
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rating               1960 non-null   int64
 1   Roaster              1960 non-null   category
 2   Coffee_Name          1960 non-null   object
 3   Review_Date          1960 non-null   datetime64[ns]
 4   Review_Description   1960 non-null   object
 5   Complete_Review_URL  1960 non-null   object
 6   Roaster_Website_URL  1157 non-null   object
 7   Roaster_Location     1960 non-null   object
 8   Origin               1960 non-null   object
 9   Roast_Level          1960 non-null   category
 10  Aroma                1960 non-null   int64
 11  Acidity              1960 non-null   int64
 12  Body                 1960 non-null   int64
 13  Flavor               1960 non-null   int64
 14  Aftertaste           1960 non-null   int64
 15  Blind_Assessment     1960 non-null   object
 16  Notes                1960 non-null   object
 17  Bottom_Line          1960 non-null   object
 18  Price                1960 non-null   float64
 19  url                  1960 non-null   object
 20  Agtron_External      1960 non-null   int64
 21  Agtron_Ground        1960 non-null   int64
 22  Amount               1960 non-null   object
 23  Currency             1960 non-null   category
dtypes: category(3), datetime64[ns](1), float64(1), int64(8), object(11)
memory usage: 349.7+ KB

In [250]:
coffee.head()

,Rating,Roaster,Coffee_Name,Review_Date,Review_Description,Complete_Review_URL,Roaster_Website_URL,Roaster_Location,Origin,Roast_Level,...,Aftertaste,Blind_Assessment,Notes,Bottom_Line,Price,url,Agtron_External,Agtron_Ground,Amount,Currency
0,94,JBC Coffee Roasters,Wilton Benitez Sidra,2023-08-01,"Delicately fruity, richly floral-toned. Froot ...",https://www.coffeereview.com/review/wilton-ben...,https://www.jbccoffeeroasters.com/product-cate...,"Madison, Wisconsin","Piendamó, Cauca Department, Colombia",Medium-Light,...,8,"Delicately fruity, richly floral-toned. Froot ...","Produced by Wilton Benitez, entirely of the Si...","A complex, deep-toned, very fruit-forward anae...",22.0,https://www.coffeereview.com/review/wilton-ben...,58,74,8 ounces,$
1,92,JBC Coffee Roasters,Piura Peru,2023-08-01,Sweetly chocolaty and nut-toned. Baking chocol...,https://www.coffeereview.com/review/piura-peru/,https://www.jbccoffeeroasters.com/product-cate...,"Madison, Wisconsin","El Faique, Piura Department, Peru",Medium-Light,...,8,Sweetly chocolaty and nut-toned. Baking chocol...,Produced by smallholding farmers who work dire...,"A confident, deep-toned Peru with a chocolate-...",18.0,https://www.coffeereview.com/review/piura-peru/,56,74,12 ounces,$
2,95,Euphora Coffee,Panama Hacienda La Esmeralda Geisha Natural,2023-08-01,"Richly fruity, deeply chocolaty. Dark chocolat...",https://www.coffeereview.com/review/panama-hac...,https://www.euphoracoffeestudio.com/categories...,"Taipei, Taiwan","Boquete growing region, western Panama",Medium-Light,...,8,"Richly fruity, deeply chocolaty. Dark chocolat...","Produced at Hacienda La Esmeralda, entirely of...","Fruit, chocolate and floral notes converge in ...",22.0,https://www.coffeereview.com/review/panama-hac...,60,77,4 ounces,$
3,95,Euphora Coffee,Panama Hacienda La Esmeralda Geisha Washed,2023-08-01,"High-toned, juicy-sweet. Lemongrass, cocoa nib...",https://www.coffeereview.com/review/panama-hac...,https://www.euphoracoffeestudio.com/categories...,"Taipei, Taiwan","Boquete growing region, western Panama",Light,...,9,"High-toned, juicy-sweet. Lemongrass, cocoa nib...","Produced at Hacienda La Esmeralda, entirely of...","Elegantly spice-toned, richly floral, complex ...",20.0,https://www.coffeereview.com/review/panama-hac...,64,78,4 ounces,$
4,96,Rusty's Hawaiian,Grand Champion Red Bourbon Natural,2023-08-01,"Delicately fruit-forward, richly aromatic. Lyc...",https://www.coffeereview.com/review/grand-cham...,NaN,"Pahala, Hawaii","Ka'u growing district, Big Island of Hawai’i",Medium-Light,...,9,"Delicately fruit-forward, richly aromatic. Lyc...",This 100% Ka’u coffee was developed by Lorie O...,"This decadently sweet, elegantly tart, complex...",35.0,https://www.coffeereview.com/review/grand-cham...,52,72,4 ounces,$

In [ ]:
# def convert_to_grams(df):
    # Define conversion factors
    pound_to_gram = 453.59
    ounce_to_gram = 28.3495
    
    df.loc[df['Unit'] == 'ounces', 'Quantity'] = df['Quantity'] * ounce_to_gram
    df.loc[df['Unit'] == 'pounds', 'Quantity'] = df['Quantity'] * pound_to_gram
    
    df['Unit'] = 'grams'
    return df
 

amount_pat = r'([\d.]+)\s*([a-zA-Z]+)'
curr_pat = r'(\d+\.\d+)'



(coffee
     .assign(Quantity = coffee['Amount'].str.extract(amount_pat)[0],
             Unit = coffee['Amount'].str.extract(amount_pat)[1],
            )
     .dropna(axis=0)
     .drop('Amount', axis=1)
     .astype({'Quantity': 'float'})
     .pipe(convert_to_grams)
)

#curr_map = {'NT $': 'NT$', 'Nt $': 'NT$',}

In [170]:
price =

In [173]:
price.unique()

array(['$22.00', '$18.00', '$20.00', '$35.00', '$21.00', 'NT $1200',
       '$19.45', 'NT $420', 'NT $500', '$25.00', '$23.00', '$26.00',
       'Puerto Rico', '$27.00', '$19.50', 'NT $450', '$15.95', 'NT $520',
       'RMB 399', '$60.00', '$19.00', 'NT $330', 'Nt $325', 'NT $310',
       '#23.90', 'NT $325', 'NT $240', '$30.00', 'NT $550', '$48.00',
       '$80.00', '$34.99', 'NT $300', 'NT $375', '$32.00', 'NT $120',
       '$39.95', '$17.50', '$24.00', 'NT $265', '$29.00', 'NT $280',
       'AED $99.75', '$17.00', 'NT $680', '$69.95', 'NT $600', 'NT $800',
       'NT $1300', '$21.25', '$15.75', '$19.95', '$21.50', '$23.50',
       '$24.25', '$42.00', 'NT $275', 'NT $399', 'NT $750', 'NT $130',
       'NT $380', '$29.50', 'NT $700', 'NT $440', '$16.95', '$16.49',
       '$40.00', '$15.99', '$26.50', 'NT $460', 'NT $290', 'NT $400',
       'NT $180', '$18.50', '$20.50', '$15.25', '$31.50', 'NT $650',
       'NT $1250', 'NT $320', '$17.95', 'NT $2000', '$38.45', '$23.95',
       '$34.50', 'KRW $28000', '$31.00', '$29.99', '$28.00', '$45.00',
       'NT $349', 'NT $369', '$12.00', '$18.75', '$18.95', '$24.50',
       '$18.25', '$20.95', '$15.00', '$50.00', 'NT $1000', 'NT $390',
       '$65.00', 'NT $250', 'NT $950', 'NT $360', '$16.00', '$160.00',
       'NT $1700', 'HKD $428', '£11.15', 'NT $299', 'NT $549', 'NT $329',
       'HKD $650', 'HKD $530', 'HKD $350', 'HKD $250', '$32.95',
       'HKD $128', 'HKD $498', 'HKD $148', '$59.00', '$43.00', '$18.99',
       '$22.50', '$19.25', 'NT $340', 'NT $900', 'NT $459', 'NT $350',
       'NT $429', '$21.60', 'NT $1500', '$25.99', '$10.00', '$13.00',
       '$16.50', '$5.00', '$5', 'NT$500', '$45.99', 'NT$399', 'NT$275',
       'NT$840', 'NT$600', '$NT$1000', 'NT$650', 'NT$700', '$14.00',
       '$12.50', 'CAD $30.00', '$8.40', '$18.05', '$21.95', '$47.95',
       '$49.00', '$25.50', '$32.25', 'NT $850', '$16.70', '$39.50',
       '$17.99', '$16.99', 'NT $888', '$54.95', '$28.50', '$8.00',
       'NT $880', 'NT $630', '$18.65', '$39.45', 'NT $1800', 'NT $789',
       '$13.99', '$17.75', '$27.50', '$19.99', '$33.00', 'NT $200',
       '$140.00', '$65.95', 'NT $3600', '$14.50', '$13.25', '$12.99',
       '$18.20', '$9.98', 'NT $160', 'NT $295', '$69.00', '$40.95',
       '$36.00', 'NT $470', 'NT $370', '$49.95', '$24.99', 'NT$400',
       'NT$350', '$11.75', 'NT $490', 'NT $480', '$34.95', '$24.95',
       '$38.50', 'NT $475', '$13.95', 'NA (available in store only)',
       '$12.25', 'HKD $208', '£100', '$21.99', '$20.99', '$75.00',
       'NT $1400', '$280.00', '$89.95', 'NT $575', '$150.00', '$145.00',
       '$62.95', '¥1680', '$95.00', '$120.00', '$49.99', '$11.99',
       '$22.49', '$19.49', '$14.99', '£25.00', 'NT $760', '$13.01',
       'NT $260', '$10.99', '$14.95', 'NT $1780', 'NT $570', 'NT $1580',
       'HKD $300', 'HKD $138', 'NT $755', '$74.95', 'NT $410', 'HKD $118',
       '¥2980', '$87.00', 'NT $1450', '$28.99', '$29.95', '¥1050',
       'NT $220', '$20.49', '$15.80', '$24.75', 'NT $560', '$32.99',
       'NT $2200', '$14.74', '500 pesos', '¥1280', '$16.20', '$87.50',
       '$47.00', 'CAD $21.00', 'CAD $18.00', '$19.75', '$9.99', '$14.20',
       '¥ 1580', '¥ 2640', 'NT $372', 'NT $252', 'CAD $50', 'CAD $45',
       '$22.95', 'NT $620', '$39.00', '¥ 2420', '$56.00', 'USD $206.00',
       '$55.00', '$85.00', '$20', 'NT $5000', '$64.95', 'US $20.00',
       '$17.90', 'CAD $22.00', '$19.99 CAD', 'NT $2500', '$12.95',
       '$22.99', '$18.49', '$19.98', '$38.00', '$13.50', 'NT $225',
       '$17.80', 'NT $580', '$45.95', 'NT $530', '$16.25', '$17.88',
       '$16.88', '$10.95', '$11.29', '$6.99', '$4.99', '$9.29', '$8.99',
       '$10.49', 'NT $1600', 'IDR $120000', '$16.80', 'NT$300', '$100',
       '$17.20', '$19.20', '$16.90', '$125.00', '$100.00', 'AUD $18.00',
       'See website for more information', 'NT $1350', 'AED $103.95',
       '$17.10', '$18.70', '$15.45', '$19.65', '$25.75', '$NT 700',
       '$206.00', '$16.40', '$13.34', '$21.20', '$15.90', '18.00',
       'NT $660', '$63.95', '$37.99', 'NTD $1200', 'NTD $600', '$7.12',
       '$37.50', '$36.95', '$28.85', '$44.95', '$54.00', '$39.99',
       '#23.00', '$70.00', 'CAD $15.00', '$37.00', 'NT $2600', '$16.75',
       '$11.95', '$13.75', '$14.75', '$22.15'], dtype=object)

     Numerical_Values Non_Numerical
0               22.00             $
1               22.00             $
2               22.00             $
3               22.00             $
8               18.00             $
...               ...           ...
2445            13.34             $
2446            13.34             $
2448            18.00             $
2452            14.99             $
2453            22.15             $

[2095 rows x 2 columns]